<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.quangchien.smartkid">

    <application
        android:allowBackup="true"
        android:icon="@drawable/gau"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"
            android:screenOrientation="landscape">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Chosse"
            android:screenOrientation="landscape" />
        <activity
            android:name=".thinkingActivity"
            android:screenOrientation="landscape" />
        <activity
            android:name=".MazeActivity"
            android:screenOrientation="landscape" />
        <activity
            android:name=".ObserverActivity"
            android:screenOrientation="landscape" />
        <activity
            android:name=".ApplyActivity"
            android:screenOrientation="landscape" />
        <activity
            android:name=".FeedAnimalActivity"
            android:screenOrientation="landscape" />
        <activity
            android:name=".ArrangeActivity"
            android:screenOrientation="landscape" />
        <activity
            android:name=".maze_vitoryActivity"
            android:screenOrientation="landscape" />
        <activity
            android:name=".Apply2Activity"
            android:screenOrientation="landscape" />
        <activity
            android:name=".Arrange2Activity"
            android:screenOrientation="landscape" />
        <activity
            android:name=".VictoryActivity"
            android:screenOrientation="landscape" />
        <activity
            android:name=".PracticeActivity"
            android:screenOrientation="landscape" />
        <activity
            android:name=".DifferentActivity"
            android:screenOrientation="landscape" />
        <activity android:name=".PickSamePictureActivity" />
        <activity android:name=".CongraActivity" />

        <service
            android:name=".MyMusicService"
            android:exported="false"></service>
    </application>

</manifest>